<div class="card">
    <div class="card-header">
        <div class="logo-content text-center">
            <img src="https://devstatic.upgo.vn/account/2.1.2/images/logo.png" width="100px" height="100px" alt="">
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Tài kkhoản</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Nhập tài khoản</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Nhập mật khẩu</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Đăng nhập
                </button>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </form>
    </div>
</div>
<div class="register">
    <div class="text-center ">Bạn chưa có tài khoản? <a routerLink ="../register">Đăng ký</a></div>
</div>